<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo lists</title>
</head>
<body>
    <h1>Your Todo lists</h1>
    <form method="POST" action="/">
        <input name="item_text" id="id_new_item" placeholder="Enter a todo item"/>
        {% csrf_token %}
        
    </form>
    <table id="id_list_table">
        {% for item in items %}
        <tr><td>{{ forloop.counter }}. {{ item.text }}</td></tr>
        {% endfor %}
        
    </table>
</body>
</html>